<div class="login_container">
    <div class="container">
        <div class="row text-white h-100vh">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 m-auto text-center form p-4">
                <div class="card card-sm px-5 py-3 mx-5">
                    <h1 class="text-dark pb-2">Log in</h1>
                    <form [formGroup]="logForm" (ngSubmit)="onSubmit(logForm.value)">
                        <div class="form-group">
                            <input type="email" formControlName="email" name="email" placeholder="Email" class="form-control"/>
                            <small class="text-danger">{{ errors.email }}</small>
                        </div>
                        <div class="form-group">
                            <input type="password" formControlName="password" name="password" placeholder="Password" class="form-control"/>
                            <small class="text-danger">{{ errors.password }}</small>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="btn btn-sm btn-block btn-primary" value="Log in" [disabled]="!logForm.valid"/>
                            <small class="form-text text-muted">Create new account <a routerLink="/register" class="">here</a>.</small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>